<template>
  <div id="map-canvas"></div>
</template>

<script lang="js">
  const apiKey = process.env.GOOGLE_MAPS_API_KEY; // Package: @nuxtjs/dotenv

  export default {
    head() {
      return {
        script: [
          {src: `https://maps.googleapis.com/maps/api/js?key=${apiKey}&libraries=places`}
        ]
      };
    },
    data() {
      return {
        count: 0,
        bounds: null,
        map: null,
        locations: [
          '51.765809, 5.501960',
          '51.771466, 5.527355',
          '51.767224, 5.536593',
          '51.764309, 5.535026',
          '51.767370, 5.527054',
          '51.767397, 5.518643',
          '51.771434, 5.511219',
        ],
        markers: []
      };
    },
    mounted() {
      let myLatLng = {lat: 51.776080, lng: 5.504624};
      this.map = new google.maps.Map(document.getElementById("map-canvas"), {
        center: myLatLng,
        disableDefaultUI: true
      })
      this.bounds = new google.maps.LatLngBounds();
      this.addMarkers();
      google.maps.event.addListener(this.map, 'bounds_changed', () => {
        let count = 0;

        this.markers.forEach(marker => {
          if(this.map.getBounds().contains(marker.getPosition())) {
            count++;
          }
        })

        if(count < 3) {
          this.map.setZoom( this.map.getZoom() - 1);
        }

      });
    },
    methods: {
      addMarkers() {
        this.locations.forEach(marker => {
          let mapsMarker = this.createMarker(marker);
          this.markers.push(mapsMarker);
          mapsMarker.setMap(this.map);
          this.bounds.extend(this.stringToLatLng(marker));
          this.map.fitBounds(this.bounds)
        })
      },

      createMarker(marker) {
        const img = '/icons/marker.svg';

        return new google.maps.Marker({
          map: this.map,
          position: this.stringToLatLng(marker),
          title: 'Hello World!',
          animation: google.maps.Animation.DROP,
          icon: img
        });
      },
      stringToLatLng(marker) {
        const latLng = marker.split(',');
        return new google.maps.LatLng(parseFloat(latLng[0]), parseFloat(latLng[1]));
      }
    },
  }
</script>

<style lang="css">
  #map-canvas {
    width: 100%;
    height: 100%;
    background-color: #EDEDEE;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
</style>
