<template>
  <div id="home-content">
    <div id="side-heading" class="container">
      <h3 class="font-weight-bolder">De beste Hotel Deals</h3>
    </div>

    <div id="category-filters">
      <div class="badge-filter accommodation-filter">
        <div class="option active" @click="filters.score.visible = ! filters.score.visible">
          <div class="label">Gastenscore</div>
          <div class="option-value">Alle <img src="~/assets/icons/dropdown-primary.svg" alt=""></div>
        </div>
        <div class="options-dropdown" v-if="filters.score.visible">
          <div class="item" @click="filters.score.value = 10" value="Uitstekend">Uitstekend</div>
          <div class="item" @click="filters.score.value = 4" value="Zeer goed">Zeer goed</div>
          <div class="item" @click="filters.score.value = 10" value="Goed">Goed</div>
          <div class="item" @click="filters.score.value = 4" value="Redelijk">Redelijk</div>
          <div class="item" @click="filters.score.value = 10" value="Slecht">Slecht</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="deal" v-for="deal in filteredDeals">
        <div class="deal-image" :style="'background-image: url(' +deal.img+ ')'"></div>
        <h2>{{ deal.title }}</h2>
        <div class="score">
          <img src="~/assets/icons/score.svg" alt="">
          <img src="~/assets/icons/score.svg" alt="">
          <img src="~/assets/icons/score.svg" alt="">
          <img src="~/assets/icons/score.svg" alt="">
          <img src="~/assets/icons/score.svg" alt=""> <span>{{ deal.reviews }} beoordelingen</span>
        </div>
        <div class="location"><img width="18px" src="~/assets/icons/location-small.svg" alt=""> {{ deal.location }}
        </div>
        <div class="more-info">
          <div><img width="14px" src="~/assets/icons/direction.svg" alt="">{{ deal.distance }}</div>
          <div class="d-flex align-items-center">
            <div class="old-price">€{{ deal.oldPrice }}</div>
            <div class="price">€{{ deal.newPrice }}</div>
          </div>
        </div>
        <div class="popular">
          <img src="~/assets/icons/on-fire.svg" alt=""> Erg populaire deal
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    computed: {
      filteredDeals() {
        return this.deals.filter(deal => {
          if(deal.score === this.filters.score.value || this.filters.score.value === null) {
            return deal;
          }
        })
      }
    },
    data() {
      return {
        filters: {
          score: {
            value: null,
            visible: false
          },
          accommodation: {
            value: null,
            visible: false
          }
        },
        deals: [
          {
            img: '/temp-images/demo-image.jpg',
            title: 'Boutique Hotel inclusief ontbijt ',
            location: 'Rosmalen',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 4,
            type: 'hotel'
          },
          {
            img: '/temp-images/demo-image-2.jpg',
            title: 'Overnachting voor 2 bij Fletcher Hotels',
            location: 'Amsterdam',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 10,
            type: 'hotel'
          },
          {
            img: '/temp-images/demo-image-3.jpg',
            title: 'Overnachting + city spa voor 2 in Maastricht',
            location: 'Rotterdam',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 4,
            type: 'hotel'
          },
          {
            img: '/temp-images/demo-image.jpg',
            title: 'Boutique Hotel inclusief ontbijt ',
            location: 'Rosmalen',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 4,
            type: 'appartement'
          },
          {
            img: '/temp-images/demo-image-2.jpg',
            title: 'Boutique Hotel inclusief ontbijt ',
            location: 'Amsterdam',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 10,
            type: 'appartement'
          },
          {
            img: '/temp-images/demo-image-3.jpg',
            title: 'Overnachting + ontbijt voor 2 in de Euromast',
            location: 'Rotterdam',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 4,
            type: 'appartement'
          },
          {
            img: '/temp-images/demo-image.jpg',
            title: 'Boutique Hotel inclusief ontbijt ',
            location: 'Rosmalen',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 10,
            type: 'vakantiehuis'
          },
          {
            img: '/temp-images/demo-image-2.jpg',
            title: 'Boutique Hotel inclusief ontbijt ',
            location: 'Amsterdam',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 10,
            type: 'vakantiehuis'
          },
          {
            img: '/temp-images/demo-image-3.jpg',
            title: 'Overnachting voor 2 + ontbijt in hartje Almere',
            location: 'Rotterdam',
            distance: '5,6km',
            reviews: 500,
            oldPrice: 80,
            newPrice: 49,
            isPopular: true,
            score: 4,
            type: 'vakantiehuis'
          }
        ]
      }
    }
  }
</script>
<style lang="scss" scoped>

  #category-filters {
    padding: 1rem;
    display: flex;

    .badge-filter {
      border-radius: 1rem;
      font-size: 12px;
      background-color: transparent;
      padding: .3rem;
      border-width: 2px;
      border-color: #654BB9;
      color: #654BB9;
      -moz-appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
    }

    .option {
      display: inline-flex;
      flex-direction: column;
      border: 2px solid #654BB9;
      border-radius: .5rem;
      padding: .2rem .6rem;

      .label {
        font-weight: 600;
      }
    }

    .options-dropdown {
      padding: .5rem;
      position: absolute;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
      border-radius: .5rem;

      .item {
        padding: .5rem 0;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
  }

  .deal {
    display: flex;
    flex-direction: column;
    background-color: white;

    h2 {
      font-size: 20px;
      font-weight: 600;
      color: #292929;
      margin-bottom: .5rem;
    }


    .reviews {
      margin-bottom: 1rem;
      color: #7C7C7C;
    }

    .location, .more-info {
      color: #7C7C7C;

      img {
        width: 20px;
      }
    }

    .score {
      margin: 0 0 1rem 0;
      font-size: 12px;
      color: #7C7C7C;

      img {
        width: 15px;
        margin: 0 -1.5px;
      }

      span {
        margin-left: .2rem;
      }
    }

    .more-info {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    .old-price {
      color: #7C7C7C;
      margin-right: .2rem;
    }

    .price {
      font-size: 24px;
      color: #40BF4B;
      font-weight: 500;
    }

    .popular {
      display: inline-flex;
      background-color: #DEDAF1;
      margin: 1rem 0;
      padding: .2rem .5rem;
      color: #483795;
      align-self: flex-end;
      border-radius: .5rem;

      img {
        margin-right: .5rem;
      }
    }

    .deal-image {
      width: 100%;
      height: 196px;
      background-size: cover;
      background-position: center;
      border-radius: .5rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  #home-content {
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: 95%;
    padding-bottom: 5rem;
    z-index: 5;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);

    #side-heading {
      display: none;
    }
  }

  /* only Desktop */
  @media (min-width: 801px) {
    #home-content {
      width: 40%;
      max-width: 530px;
      max-height: calc(100vh - 95px);
      margin-top: 96px;
      padding: 3rem 1rem 2rem 1rem;
      overflow: auto;

      #side-heading {
        display: block;
      }
    }
  }
</style>
