<template>
  <nuxt/>
</template>

<style>
  html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .btn {
    background-color: #5742B5;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .bold-text {
    font-weight: 600;
  }


</style>
