<template>
  <div>
    <deal-filter></deal-filter>
    <google-map></google-map>
    <home-content></home-content>

    <nav class="d-flex justify-content-around w-100 bg-white">
      <div class="text-center py-2">
        <img class="pb-1" src="~assets/icons/home.svg" alt="">
        <div class="menu-text">Home</div>
      </div>
      <div class="text-center py-2">
        <img class="pb-1" src="~assets//icons/reservations.svg" alt="">
        <div class="menu-text">Reserveringen</div>
      </div>
      <div class="text-center py-2">
        <img class="pb-1" src="~assets//icons/menu.svg" alt="">
        <div class="menu-text">Menu</div>
      </div>
    </nav>
  </div>
</template>

<script lang="js">
  import dealFilter from '../components/deal-filter/DealFilter'
  import googleMap from './../components/GoogleMap.vue'
  import homeContent from './../components/HomeContent'

  export default {
    components: {
      googleMap,
      dealFilter,
      homeContent
    },
    async asyncData({store}) {
      const getLocations = () => import('~/assets/api/locations.json').then(m => m.default || m)
      const data = await getLocations();
      store.commit('cities/addLocations', data.locations)
    },
    methods: {}
  }
</script>

<style lang="css" scoped>

  /* only Desktop */
  @media (min-width:801px) {
    nav {
      display: none !important;
    }
  }
  nav {
    z-index: 98;
    position: fixed;
    bottom: 0;
  }

  .menu-text {
    font-size: 12px;
  }
</style>
