<template>
  <div class="wn-filter">
    <div class="default-state" @click="toggleFilter">
      <div class="label">
        <img src="~assets/icons/location.svg" alt="">
        <div class="city">{{ selectedCity }}</div>
      </div>
      <div class="arrow-icons">
        <img v-if="active" src="~assets/icons/arrow-not-active.svg" alt="">
        <img v-else src="~assets/icons/arrow-active.svg" alt="">
      </div>
    </div>
    <div class="active-state" v-show="active">
      <div class="possible-input-component">
        <label for="search">Zoek locatie:</label>
        <input type="text" id="search" @input="searchLocation">
      </div>
      <div class="nearby">
        <div class="bold-text" @click="selectedCity = 'Bij mij in de buurt...'">Bij mij in de buurt</div>
        <img src="~assets/icons/gps.svg" alt="">
      </div>
      <div class="your-locations">
        <div class="title">
          Jouw locaties
        </div>
        <ul>
          <li v-for="location in locations.slice(0, 4)" @click="selectedCity = location">
            {{ location }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>


  export default {
    props: {
      active: {
        type: Boolean
      }
    },
    data() {
      return {
        selectedCity: 'Amsterdam',
        searchTerm: ''
      }
    },
    methods: {
      toggleFilter() {
        this.$emit('toggle', 'city')
      },
      searchLocation(event) {
        this.searchTerm = event.target.value;
      }
    },
    computed: {
      locations () {
        return this.$store.getters['cities/getCities'].filter(city => city.toLowerCase().includes(this.searchTerm.toLocaleLowerCase()))
      }
    },
  }
</script>

<style lang="scss" scoped>
  .possible-input-component {
    width: 100%;
    label {
      width: 100%;
      font-size: 14px;
      color: #292929;
    }
    input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid #CECECE;

      &:focus {
        outline: 0;
        border-bottom: 2px solid #5742B5;
      }
    }
  }

  .nearby {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem 0;
    color: #5742B5;
    cursor: pointer;
  }

  .your-locations {
    padding: 1rem 0;
    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 1rem 0;
        cursor: pointer;
      }
    }
  }
</style>
