<template>
  <div class="filters">
    <div id="filter-trigger" @click="toggleFilters">
      <img src="~assets/icons/search.svg" alt=""/>
      <div class="city-state">
        <div class="location bold-text">Amsterdam</div>
        <div class="meta-data">2 personen / 16 aug. - 17 aug.</div>
      </div>
    </div>

    <filter-modal :visible="filtersVisible" :toggle-self="toggleFilters" ref="filterModal" :class="[filtersVisible ? '' : 'd-none']"></filter-modal>
  </div>
</template>
<script>
  import filterModal from './../deal-filter/FilterModal';
  export default {
    components: {
      filterModal
    },
    data() {
      return {
        filtersVisible: false
      }
    },
    mounted() {
      console.log(this.$refs.filterModal);
    },
    methods: {
      toggleFilters() {
        this.filtersVisible = ! this.filtersVisible
      }
    }
  }
</script>
<style lang="scss">

  /* only Desktop */
  @media (min-width:801px) {
    .filters {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 10;
      padding: 1rem 0;
      background-color: #5742B5;

      #filter-trigger {
        max-width: 968px;
        margin: 0 auto;
        z-index: 5;
        cursor: pointer;
      }

      #filter-modal {
        width: 980px;
        min-height: 490px;
        position: relative;
        margin: 16px auto 0 auto;
        padding-bottom: 200px;
        border-radius: .5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24)
      }
    }
  }

  #filter-trigger {
    width: calc(100% - 2rem);
    display: flex;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 5;
    border-radius: .5rem;
    margin: 2.5rem 1rem;
    padding: .5rem 1rem;

    .city-state {
      margin-left: 1rem;
    }

    .location {
      color: #333333;
    }

    .city-state {
      color: #CECECE;
      font-weight: 400;
    }
  }
</style>
