<template>
  <transition name="fadeHeight">
    <div id="filter-modal">
      <div class="top-bar" @click="toggleSelf">
        <img src="~assets/icons/back-arrow.svg" alt="">
        <div class="title">Zoekgegevens</div>
      </div>
      <div class="city-filter">
        <city-select :active="filters.city.active" @toggle="toggleFilter"></city-select>
      </div>
      <div class="person-filter">
        <person-select :active="filters.persons.active" @toggle="toggleFilter"></person-select>
      </div>
      <div class="date-filter">
        <date-select :active="filters.date.active" @toggle="toggleFilter"></date-select>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn">Zoeken</button>
      </div>
    </div>
  </transition>

</template>
<script>

  import CitySelect from './CitySelect';
  import PersonSelect from './PersonSelect';
  import DateSelect from './DateSelect';

  export default {
    components: {
      CitySelect,
      PersonSelect,
      DateSelect
    },
    props: {
      visible: {
        type: Boolean,
        required: true
      },
      toggleSelf: {
        type: Function,
        required: true
      }
    },
    data() {
      return {
        filters: {
          city: {
            active: false
          },
          persons: {
            active: false
          },
          date: {
            active: false
          }
        }
      }
    },
    methods: {
      toggleFilter(type) {
        this.filters[type].active = !this.filters[type].active
      }
    }
  }
</script>
<style lang="scss">
  #filter-modal {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 99;

    .top-bar {
      display: flex;
      margin-bottom: 1rem;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid #EAEAEA;
      cursor: pointer;

      .title {
        margin-left: 1.5rem;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .default-state, .active-state {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
  }

  .default-state {
    cursor: pointer;
  }

  .active-state {
    flex-direction: column;
  }

  .label {
    display: inline-flex;

    img {
      margin-right: 1.5rem;
    }
  }

  .btn {
    width: calc(100% - 2rem);
    text-align: center;
    border-radius: .5rem;
    position: absolute;
    bottom: 1rem;
  }

  .fadeHeight-enter-active,
  .fadeHeight-leave-active {
    transition: max-height 0.2s, opacity 0.2s, transform .2s;
    max-height: 100%;
    transform: scale(1);
  }

  .fadeHeight-enter,
  .fadeHeight-leave-to {
    opacity: 0;
    max-height: 100px;
    transform: scale(.8);
  }

</style>
