<template>
  <div class="wn-filter">
    <div class="default-state" @click="toggleFilter">
      <div class="label">
        <img src="~assets/icons/persons.svg" alt="">
        <div class="city">2 personen</div>
      </div>
      <div class="arrow-icons">
        <img v-if="active" src="~assets/icons/arrow-not-active.svg" alt="">
        <img v-else src="~assets/icons/arrow-active.svg" alt="">
      </div>
    </div>
    <div class="active-state" v-show="active">
      tabs
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      active: {
        type: Boolean
      }
    },
    methods: {
      toggleFilter() {
        this.$emit('toggle', 'persons')
      }
    }
  }
</script>
